@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "~bootstrap/dist/css/bootstrap.css";

html, body { height: 100%; }
body { 
        margin: 0 auto;
        width: 80%;
        font-family: Roboto, "Helvetica Neue", sans-serif;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow: scroll;
        scroll-behavior: smooth;
     }
